<a href="https://colab.research.google.com/github/Nagmashaik123/Nagma_INFO5731_Spring2021/blob/main/INFO5731_Assignment_One_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [4]:
import random
import numpy as np
from numpy import mean

# Initializes the random generator
np.random.seed(52)

#created a empty list so that i can append all generated random numbers to this list
random_list=[]

# Iterate through to generate the 12 numbers betweem 1 and 100
for item in range(1,13):
  x=random.randint(1,100)
  random_list.append(x)

print("Generating Random Numbers between 1 and 100:\n", random_list)
print("\n")

# Ascending order
a=sorted(random_list)
print("Ascending Order:\n", a)
print("\n")

#Descending order
b=sorted(random_list, reverse=True)
print("Descending Order:\n" , b)
print("\n")

print("The average of the group is:", round(mean(random_list),2))

Generating Random Numbers between 1 and 100:
 [82, 91, 77, 70, 60, 92, 28, 90, 84, 55, 7, 26]


Ascending Order:
 [7, 26, 28, 55, 60, 70, 77, 82, 84, 90, 91, 92]


Descending Order:
 [92, 91, 90, 84, 82, 77, 70, 60, 55, 28, 26, 7]


The average of the group is: 63.5

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [16]:
# Questions 2.1 and 2.2
import re

# Letting user input their statements
sentence1=input("Please enter the first sentence:\n ")
sentence2=input("Please enter the second sentence:\n ")

# Regular expression to break the user entered statements to identify each character
reg_exp = r"[0-9a-zA-Z_]+|\$[\d\.]+|\S+"
statement1= re.findall(reg_exp,sentence1)
statement2= re.findall(reg_exp,sentence2)
list=statement1+statement2
print("The final list of elements :  ",  list)

Please enter the first sentence:
 Oh! I love python
Please enter the second sentence:
 This is my first python program
The final list of elements :   ['Oh', '!', 'I', 'love', 'python', 'This', 'is', 'my', 'first', 'python', 'program']

In [60]:
# Questions 2.3 
# Comparing 2 sentences 
print()
for char1 in statement1:
  for char2 in statement2:
    if char1==char2:
      print("The list of words that occur in both sentences are : ", char1)

# Question 2.4
# working with punctuations
punctuations=[':',';',',','.','!','$','@','#','%']
final_statment=""
for item in list:
  if item not in punctuations:
    final_statment=final_statment + item

print("Printing final statement with out punctuation : " , final_statment)

# Question 2.5
# Counting vowels
vowels_count = {}
statment = sentence1.lower()+ sentence2.lower()

for item in "aeiou":
  vowels_count[item]=statment.count(item)

print("The number of times vowel appears in each sentences:")
vowels_count

The list of words that occur in both sentences are :  python
Printing final statement with out punctuation :  OhIlovepythonThisismyfirstpythonprogram
The number of times vowel appears in each sentences:

{'a': 1, 'e': 1, 'i': 4, 'o': 5, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [31]:
# Mathematical Computation

from math import pi
print("Printing radius and volume : " )
# Iterating loop through radius values range(1 - 10)
for radius in range(1,11):
  Volum =(4/3)* pi * radius**3
  print(radius," - ",Volum)

Printing radius and volume :
1  -  4.1887902047863905
2  -  33.510321638291124
3  -  113.09733552923254
4  -  268.082573106329
5  -  523.5987755982989
6  -  904.7786842338603
7  -  1436.7550402417319
8  -  2144.660584850632
9  -  3053.6280592892786
10  -  4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [72]:
# Calculation of difference in the number of Occupied Housing Units
import pandas as pd

# reading the csv file as data frame
dataFrame=pd.read_csv("/content/sample_data/denton_housing.csv",index_col="year")
print(dataFrame)

                 title_field  value
year
2014     Total Housing Units  49109
2014    Vacant Housing Units   2814
2014  Occupied Housing Units  46295
2013     Total Housing Units  47888
2013    Vacant Housing Units   4215
2013  Occupied Housing Units  43673
2012     Total Housing Units  45121
2012    Vacant Housing Units   3013
2012  Occupied Housing Units  42108
2011     Total Housing Units  44917
2011    Vacant Housing Units   4213
2011  Occupied Housing Units  40704
2010     Total Housing Units  44642
2010    Vacant Housing Units   3635
2010  Occupied Housing Units  41007
2009     Total Housing Units  39499
2009    Vacant Housing Units   3583
2009  Occupied Housing Units  35916
2008     Total Housing Units  41194
2008    Vacant Housing Units   4483
2008  Occupied Housing Units  36711
2014          Owner Occupied  21427
2014         Renter Occupied  24868
2013          Owner Occupied  20845
2013         Renter Occupied  22828
2012          Owner Occupied  20068
2012         Renter Occupied  22040
2011          Owner Occupied  18478
2011         Renter Occupied  22226
2010          Owner Occupied  18867
2010         Renter Occupied  22140
2009          Owner Occupied  18057
2009         Renter Occupied  17859
2008          Owner Occupied  17340
2008         Renter Occupied  19371
2014       Median Gross Rent    905
2013       Median Gross Rent    887
2012       Median Gross Rent    842
2011       Median Gross Rent    821
2010       Median Gross Rent    780
2009       Median Gross Rent    769
2008       Median Gross Rent    768

In [73]:
# Program to calculate the difference in the number of Occupied Housing Units from year to year and print it
# Question 4.1
# organising data declaring the index
dataFrame.sort_index(axis=0,ascending=True,inplace=True)
dataFrame_sort=dataFrame[dataFrame.title_field=="Occupied Housing Units"].sort_index(axis=0,ascending=True)
dataFrame_to_sort=dataFrame_sort.reset_index()

data_Frame=dataFrame_to_sort[["year","value"]].values

list_new=[]
# Iterating the data frame and append to new list by difference between 2 rows
for item in range(len(data_Frame)-1):
  list_new.append(data_Frame[item+1][1]-data_Frame[item][1])
list_new

# Printing values depicting the consecutive years
print("Consecutive years \t Difference value")
for item in range(2008,2014):
  print(item,"-",item+1,"           ",list_new[item-2008])

print("\n")

#Printing the ascending order based on the difference values

data_2 = [['2008-2009', -795],['2009-2010', 5091],['2010-2011', -303],['2011-2012', 1404],['2012-2013', 1565],['2013-2014', 2622]]  
B = pd.DataFrame(data_2, columns = ['Consecutive years',  'Difference value'])
sorted_frame = B.sort_values('Difference value') 

print("The Ascending order of the difference value for consecutive years is:\n")

print(sorted_frame)

Consecutive years 	 Difference value
2008 - 2009             -795
2009 - 2010             5091
2010 - 2011             -303
2011 - 2012             1404
2012 - 2013             1565
2013 - 2014             2622


The Ascending order of the difference value for consecutive years is:

  Consecutive years  Difference value
0         2008-2009              -795
2         2010-2011              -303
3         2011-2012              1404
4         2012-2013              1565
5         2013-2014              2622
1         2009-2010              5091

In [64]:
# Question 4.2
# Calculate the percentage of housing units which are vacant and occupied. Print the results
dataFrame.reset_index(inplace=True)
units_occupied =[]
units_vacant =[]

#Finding the number of vacant and occupied housing units
for i in range(2008,2015):
  units_occupied.append((dataFrame[(dataFrame["year"]==i) & (dataFrame["title_field"]=="Occupied Housing Units")].value.values)/(dataFrame[(dataFrame["year"]==i) & (dataFrame["title_field"]=="Total Housing Units")].value.values))
  units_vacant.append((dataFrame[(dataFrame["year"]==i) & (dataFrame["title_field"]=="Vacant Housing Units")].value.values)/(dataFrame[(dataFrame["year"]==i) & (dataFrame["title_field"]=="Total Housing Units")].value.values))

#Printing the percentage of housing units which are vacant and occupied
print("Year \t Occupied Units \t Vacant Units")
for i in range(2008,2015):
  print(i,"\t\t","{0:.0f}%".format(units_occupied[i-2008][0]*100) , "\t\t\t", "{0:.0f}%".format(units_vacant[i-2008][0]*100))

Year 	 Occupied Units 	 Vacant Units
2008 		 89% 			 11%
2009 		 91% 			 9%
2010 		 92% 			 8%
2011 		 91% 			 9%
2012 		 93% 			 7%
2013 		 91% 			 9%
2014 		 94% 			 6%

In [71]:
# Question 4.3
# Calculate and print the valued and years in which the highest number of housing units were vacant and occupied.
occupied_list=[]
vacant_list=[]

for i in range(2008,2015):
  occupied_list.append(units_occupied[i-2008][0])
  vacant_list.append(units_vacant[i-2008][0])

print("\t\t\t Year\t Value")

# Iterate through the data frame and calculates the max value of occupied list which gives max of occupied housing units
for i in enumerate(units_occupied,start=2008):
  if(i[1][0]==max(occupied_list)):
    print("Occupied Housing Units \t",i[0],"\t",(dataFrame[(dataFrame.year==i[0])&(dataFrame.title_field=="Occupied Housing Units")].value.values)[0])
    break

# Iterate through the data frame and calculates the max value of vacant list which gives max of vacant housing units    
for i in enumerate(units_vacant,start=2008):
  if(i[1][0]==max(vacant_list)):
    print("Vacant Housing Units \t",i[0],"\t",(dataFrame[(dataFrame.year==i[0])&(dataFrame.title_field=="Vacant Housing Units")].value.values)[0])
    break

			 Year	 Value
Occupied Housing Units 	 2014 	 46295
Vacant Housing Units 	 2008 	 4483

In [68]:

# Question 4.4
# Calculate the harmonic mean of the total housing units and print it out.

from scipy import stats

dataFrame[dataFrame.title_field=="Total Housing Units"].value.values

print(dataFrame[dataFrame.title_field=="Total Housing Units"].value.values)
print("The harmonic mean calculated :\n")
stats.hmean(dataFrame[dataFrame.title_field=="Total Housing Units"].value.values)

[41194 39499 44642 44917 45121 47888 49109]
The harmonic mean calculated :

44398.28543969185